{% extends "base.html" %}
{%block content%}
<div class="home-page">
        <div class="introduction" style="width: 50%; height: 100%;">
            <div class="intro-content">
                <h1>
                    Dashboard
                </h1> 
                <span></span>
				<p class="slogan-text text-capitalize">Welcome, <strong>{{user.first_name}} {{user.last_name}}</strong></p>
				<div class="social-media hidden-xs">
                    <a href="/logout" class="fa fa-fw fa-sign-out" title="Esci" data-original-title="Esci"></a>
                    <a href="/changepw" class="fa fa-fw fa-key" title="Cambio Passord" data-original-title="Cambio Password"></a>
                    <a href="http://www.ascom.bo.it" class="fa fa-globe" title="Sito Ascom" data-original-title="Sito Ascom"></a>
                </div>
            </div>
            
        </div>
        
        <div class="menu" style="width: 50%; height: 100%;">

            {% for svc in services %}
	
            <div class="profile-btn"
               style="
				{% if len == 1 %}
				width:100%;
				height:100%;
				{% elif len == 2 %}
				width:100%;
				height:50%;
				{% elif len == 3 %}
				width: 100%; 
				height: 33.3%;
				{% else %}
				width: 50%; 
				height: 50%;
				{% endif %}
            ">
                <img alt="" src="{{svc.img}}" style="
	                {%if len == 1 %}
					width:auto;
					height:100%;
					{%elif len == 2 %}
					width:100%;
					height:100%;
					{%elif len == 3 %}
					width: 100%; 
					height: 100%;
					{%else %}
					width: 100%; 
					height: 100%;
					{% endif %}
				">
                <div class="mask">
                </div>
                <div class="heading">
                	<a target="_blank"
		               href="{{svc.url}}{{svc.urlmode}}{{token}}"><!--/#/login;token=-->
                    <i class="fa fa-fw fa-{{svc.logo}} hidden-xs"></i>
                    <h2>{{svc.name}}</h2>
                    </a>
                </div>
            </div>

            {%endfor%}

		</div>
	<footer class="footer">
	  	<div class="container">
			<p class="text-muted">&copy; 2016 CEDASCOM | Realizzato da BeInternet</p>
		</div>
	</footer>
    </div>
{%endblock content%}